.about-container {
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
    margin-inline: 0px;
    padding-inline: 100px;
    align-items: center;
    // flex: 1;
    height: 70vh;
    // margin-inline: auto;
    position: relative;
    // overflow-x: hidden;
    // margin-bottom: 500px;


    .sheets-background {
        position: absolute;
        top: 60px;
        left: 0%;
        width: 100%;
        height: 50%;
    }

    .first-about,
    .second-about {
        width: 28%;
        position: relative;
        height: 100%;

    }

    .img-container {
        height: 100%;
        max-width: 100%;

        img {
            border-radius: 5px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 30% center;
        }
    }

    .about-text {
        background-color: $clr1;
        border-radius: 5px;
        position: absolute;
        width: 100%;
        top: 0;
        transform: translate(70%, 30%);
        opacity: 0.85;
        font-size: medium;
        padding: 5px;
        display: flex;
        flex-direction: column;

        p {
            margin-bottom: 1px;
            text-align: center;
            width: 100%;
            max-width: none;
        }
    }

    @media (min-width: 1400px) {
        .about-text {
            transform: translate(70%, 60%);
        }
    }
    .second-text {
        transform: translate(-70%, -10%);
    }


}


@media (max-width: 600px) {
    .about-container {
        flex-direction: column;
        gap: 250px;
        padding: 0;
        height: auto;

        .first-about,
        .second-about {
            width: 100%;
            height: 100%;
        }

        .first-about {
            margin-top: 50px;
        }

        .second-about {
            margin-bottom: 200px;
        }

        .about-text {
            width: 80%;
            transform: translate(20%, 85%);
            font-size: small;
        }

        .second-text {
            transform: translate(5%, 103%);
            margin-bottom: 500px;
            // padding-bottom: 100px;
        }

        .img-container {
    
            img {
                border-radius: 3px;
            }
        }
    }
}