.about-container {
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
    margin-inline: 0px;
    padding-inline: 100px;
    align-items: center;
    height: 70vh;
    position: relative;

    .sheets-background {
        position: absolute;
        top: 60px;
        left: 0%;
        width: 100%;
        height: 50%;
    }

    .first-about,
    .second-about {
        width: 28%;
        position: relative;
        height: 100%;

    }

    .img-container {
        height: 100%;
        max-width: 100%;

        img {
            border-radius: 5px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 30% center;
        }
    }

    .about-text {
        background-color: $clr1;
        border-radius: 5px;
        position: absolute;
        width: 110%;
        top: 0;
        opacity: 0.85;
        padding: 5px;
        display: flex;
        flex-direction: column;
        font-size: 15px;

        &.first-text {
            transform: translate(50%, 18%);
            font-size: 14px;
        }

        &.second-text {
            transform: translate(-55%, -20%);
        }

        h3 {
            font-family: amatic;
            font-size: 1.5rem;
        }

        p {
            margin-bottom: 1px;
            text-align: center;
            width: 100%;
            max-width: none;
        }

    }

    &.rtl-about {
        flex-direction: row-reverse;

        .about-text {
            width: 95%;

            &.first-text {
                transform: translate(60%, 35%);
            }

            &.second-text {
                transform: translate(-60%, -10%);
            }
        }
    }

    @media (min-width: 1400px) {
        .about-text {
            &.first-text {
                transform: translate(55%, 30%);
                width: 95%;
                font-size: 15px;
            }

            &.second-text {
                transform: translate(-50%, -10%);
                width: 90%;
                font-size: 15px;
            }
        }

        &.rtl-about {
            .about-text {
                padding-inline: 20px;
                padding-block: 20px;

                &.first-text {
                    transform: translate(60%, 50%);
                }

                &.second-text {
                    transform: translate(-60%, -10%);
                }

            }
        }
    }


}


@media (max-width: 700px) {
    .about-container {
        flex-direction: column;
        gap: 250px;
        padding: 0;
        height: auto;

        .sheets-background {
            display: none;
        }

        .first-about,
        .second-about {
            width: 100%;
            height: 100%;
        }

        .first-about {
            margin-top: 50px;
            margin-bottom: 100px;
        }

        .second-about {
            margin-bottom: 300px;
        }

        .about-text {
            &.first-text {
                width: 80%;
                transform: translate(20%, 53%);
                font-size: small;
            }

            &.second-text {
                transform: translate(5%, 66%);
                width: 80%;
                font-size: small;
            }
        }


        .img-container {

            img {
                border-radius: 3px;
            }
        }

        &.rtl-about {
            flex-direction: column;
            .first-about {
                margin-bottom: 10px;
            }
            .about-text {

                &.about-text {
                    transform: translate(-20%, 75%);
                }

                &.second-text {
                    transform: translate(-5%, 70%);
                }
            }
        }
    }
}