.contact-container {
    padding-top: 40px;

    .contacts-container {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    h2 {
        margin-bottom: 20px;
        font-family: amatic-bold;
    }

    a {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        width: 100px;
        // background-color: gray;
        border-radius: 10px;
        margin: 0;
        padding: 0;
        // &:hover{
        //     color: aqua;
        // }
        &.google-logo{
            width: 40px;
        }
    }

    .left-logo {
        width: 35px;
        height: 50px;
    }

    .right-logo {
        width: 100px;
    }
}