.lesson-container {
  display: flex;
  flex-direction: column;
  color: $clr5;
  width: 100%;

  .note-book {
    display: flex;
    width: 100%;

    .instrument-name {
      text-transform: capitalize;
    }

    .guitar {
      background-color: $clr1;
    }

    .piano {
      background-color: $clr2;
    }

    .harmonica {
      background-color: $clr3;
    }

    .bass {
      background-color: $clr4;
    }

    .bookmarks {
      display: flex;
      flex-direction: column;
      flex: 1.4;
      align-items: end;

      >* {
        cursor: pointer;
        opacity: 0.6;
        width: 145px;
        height: 40px;
        border-bottom-left-radius: 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 10px;
        transform: translateX(40%);

        p {
          margin: 0;
        }

        img {
          width: 40px;
        }

        &:hover {
          opacity: 0.8;
          transition: 0.4s;
          transform: translateX(0%);

        }
      }

      .current-instrument {
        opacity: 1;
        transition: 0.3s;
        width: 160px;
        border-top-left-radius: 7px;
        z-index: 20;
        transform: translateX(0%);
      }
    }

    .instrument-pages {
      flex: 1;
      position: relative;

      >* {
        position: absolute;
        width: 350px;
        max-height: fit-content;
        min-height: 400px;
        opacity: 0;
        transition: 0.5;
        border-radius: 7px;
        border-top-left-radius: 0px;
        padding: 10px;
      }

      .guitar {}

      .piano {}

      .harmonica {}

      .bass {}

      .current-instrument {
        z-index: 10;
        opacity: 1;
      }

    }

  }

  @media (max-width : 600px) {
    .note-book {
      flex-direction: column;

      .bookmarks {
        font-size: 15px;
        flex-direction: row;
        flex: none;
        height: 80px;
        transform: translateY(1px);

        >* {
          flex: 1;
          border-radius: 0;
          height: 85px;
          flex-direction: column;
          transform: translate(0%, 50%);
          padding-block: 4px;
        }

        >:first-child {
          border-top-left-radius: 5px;
        }

        >:last-child {
          border-top-right-radius: 5px;
        }

        .current-instrument {
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          font-size: 16px;
          height: 80px;
        }
      }

      .instrument-pages {
        >* {
          border-top-right-radius: 0;
          width: 100%;
        }
      }
    }
  }

}