.lesson-container {
  display: flex;
  flex-direction: column;
  color: $clr5;
  width: 100%;
  padding-top: 8%;
  margin-bottom: 40px;

  .first-p {
    background-color: $clr1;
    padding: 10px;
    padding-top: 150px;
    border-radius: 10px;
    position: relative;
    z-index: -1;
    color: $clr2;

    img {
      position: absolute;
      top: -100px;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    p {
      z-index: 10;
    }
  }

  .second-container {
    display: flex;
    justify-content: space-around;
  }

  .note-book {
    display: flex;
    // width: 100%;

    .instrument-name {
      text-transform: capitalize;
    }

    .guitar {
      background-color: #D2E3C8;
      // background-color: #D2E3C8;
    }

    .piano {
      background-color: #86A789;
      // background-color: #86A789;
    }

    .harmonica {
      background-color: #739072;
      // background-color: #739072;
    }

    .bass {
      background-color: #4F6F52;
      // background-color: #4F6F52;
    }

    .bookmarks {
      display: flex;
      flex-direction: column;
      flex: 1.4;
      align-items: end;
      width: 135px;


      >* {
        cursor: pointer;
        opacity: 0.6;
        width: 135px;
        height: 40px;
        border-bottom-left-radius: 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 10px;
        transform: translateX(41%);
        transition: 0.4s;

        p {
          margin: 0;
        }

        img {
          width: 40px;
        }

        &:hover {
          opacity: 0.8;
          transform: translateX(0%);

        }
      }

      .current-instrument {
        opacity: 1;
        transition: 0.3s;
        width: 150px;
        border-top-left-radius: 7px;
        z-index: 20;
        transform: translateX(0%);
      }
    }

    .instrument-pages {
      position: relative;
      width: 400px;
      min-height: 350px;

      >* {
        position: absolute;
        max-height: fit-content;
        height: 100%;
        opacity: 0;
        transition: 0.5;
        border-radius: 7px;
        border-top-left-radius: 0px;
        padding: 10px;
        display: grid;

        h3 {
          padding-top: 10px;
        }

        p {
          justify-self: center;
        }
      }

      .current-instrument {
        z-index: 10;
        opacity: 1;
      }

    }

  }

  @media (max-width : 600px) {
    .first-p {
      padding-top: 10px;
      height: 200px;
      margin-bottom: 25px;

      img {
        top: -50px;
      }
    }

    .second-container {
      flex-direction: column;
    }

    .note-book {
      flex-direction: column;

      .bookmarks {
        font-size: 15px;
        flex-direction: row;
        flex: none;
        height: 80px;
        transform: translateY(1px);
        width: 100%;

        >* {
          flex: 1;
          border-radius: 0;
          height: 85px;
          flex-direction: column;
          transform: translate(0%, 50%);
          padding-block: 4px;
        }

        >:first-child {
          border-top-left-radius: 5px;
        }

        >:last-child {
          border-top-right-radius: 5px;
        }

        .current-instrument {
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          font-size: 16px;
          height: 80px;
        }
      }

      .instrument-pages {
        width: 100%;

        >* {
          border-top-right-radius: 0;
        }
      }
    }
  }

}