.media-container {

    .videos-container {
        display: flex;
        gap: 20px;
        overflow-x: scroll;
        .video-container{
            
            iframe{
                border-radius: 20px;

            }
        }
    }

}

@media (max-width : 600px) {}