@media (min-width : 600px) {
    .media-container {
        // display: flex;
        // overflow-x: hidden;
        // flex-direction: column;
        // align-items: center;
        // justify-items: center;

        .videos-container {
            margin: auto;
            display: flex;
            overflow-x: hidden;
            padding-block: 200px;
            align-items: center;
            position: relative;

            //for now
            @media (min-width : 1500px) {
                padding-inline: 7%;

            }

            .video-container {
                position: absolute;
                z-index: 100;
                transition: 2s;

                iframe {
                    transition: 2s;
                    border-radius: 20px;
                    flex: 1;
                    width: 310px;
                    height: 200px;
                    transform: scale(1.2);
                }

                .video-cover {
                    transform: scale(1.2);
                    border-radius: 20px;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(255, 255, 255, 0.123);
                    transition: 0.5s;

                    &:hover {
                        cursor: pointer;
                        background-color: transparent;
                    }

                }

            }

            .played-video {
                iframe {
                    transform: scale(1.7);
                }

                .video-cover {
                    display: none;
                }
            }

            .small-video {
                z-index: 80;

                iframe {
                    transform: scale(1);
                }

                .video-cover {
                    transform: scale(1);
                }
            }

            .medium-video {
                z-index: 90;

                iframe {
                    transform: scale(1.1);
                }

                .video-cover {
                    transform: scale(1.1);
                }
            }
        }


    }

    .btn-container {
        display: flex;
        align-items: center;
        justify-content: center;

        &.rtl-media {
            flex-direction: row-reverse;
        }

        .arrow {
            border-radius: 50%;
            background-color: #eeeeee;

            img {
                width: 50px;
                height: 50px;

            }
        }
    }
}


.right-arrow {
    transform: rotate(180deg) translateY(3px);
}

@media (max-width : 600px) {
    .media-container {
        display: flex;
        padding-inline: 25px;
        padding-top: 30px;

        .videos-container {
            flex-direction: column;
            width: 100%;
            display: flex;
            align-items: center;
            overflow-x: scroll;
            gap: 25px;

            .video-container {
                transform: translate(0%, 0%) !important;

                iframe {
                    border-radius: 20px;
                }
            }
        }

        .arrow {
            display: none;
        }
    }
}